@import './style/reset.scss';
@import './style/hero.scss';

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.super-item {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  color: #fff;
  font-size: 40px;
}

.text {
  margin: 50px auto;
  max-width: 800px;
}

.scroll-to-btn {
  position: fixed;
  bottom: 50px;
  right: 100px;
  background: purple;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.slide-photo {
  height: 300px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}